NodeRedLoRaGateway.txt
[{"id":"1894fc3.0de1404","type":"tcp in","z":"c5b90c0c.d660e","name":"Receive tcpdump data","server":"server","host":"","port":"8888","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":120,"y":160,"wires":[["bcd2559e.e24de8"]]},{"id":"bd58a425.8a5258","type":"json","z":"c5b90c0c.d660e","name":"to js obj","pretty":false,"x":680,"y":140,"wires":[["538fea67.f6c624"]]},{"id":"538fea67.f6c624","type":"base64","z":"c5b90c0c.d660e","name":"","action":"","property":"payload.rxpk[0].data","x":840,"y":140,"wires":[["410c10c2.d3846"]]},{"id":"410c10c2.d3846","type":"function","z":"c5b90c0c.d660e","name":"decode data field","func":"var msginfo = msg.payload.rxpk[0];\nvar devadr = msginfo.data.charCodeAt(1) + \n            (msginfo.data.charCodeAt(2)<<8) +\n            (msginfo.data.charCodeAt(3)<<16) +\n            (msginfo.data.charCodeAt(4)<<24);\nvar count   = msginfo.data.charCodeAt(6) +\n             (msginfo.data.charCodeAt(7)<<8);\nvar netid  = msginfo.data.charCodeAt(4)>>1;\nvar newmsg = { payload: \n                  {device: devadr>>>0, \n                   count : count,\n                   netid : netid,\n                   tmst  : msginfo.tmst,\n                   time  : msginfo.time,\n                   chan  : msginfo.chan,\n                   rfch  : msginfo.rfch,\n                   freq  : msginfo.freq,\n                   stat  : msginfo.stat,\n                   modu  : msginfo.modu,\n                   datr  : msginfo.datr,\n                   codr  : msginfo.codr,\n                   lsnr  : msginfo.lsnr,\n                   rssi  : msginfo.rssi,\n                   size  : msginfo.size\n                  }\n             };\nreturn newmsg;","outputs":1,"noerr":0,"x":1030,"y":140,"wires":[["24783bbf.0fbbb4","bb00be21.3dba1","21bfd75a.685578","29fe910f.32340e","d74e71dc.87493"]]},{"id":"24783bbf.0fbbb4","type":"csv","z":"c5b90c0c.d660e","name":"To CSV","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\r\\n","temp":"device, count, netid, tmst, time, chan, rfch, freq, stat, modu, datr, codr, lsnr, rssi, size","x":1260,"y":280,"wires":[["bcb2ea97.ce22c8"]]},{"id":"bcb2ea97.ce22c8","type":"file","z":"c5b90c0c.d660e","name":"Write to ttngateway.csv","filename":"/home/pi/ttngateway.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1460,"y":280,"wires":[]},{"id":"bcd2559e.e24de8","type":"switch","z":"c5b90c0c.d660e","name":"check msg","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"{\"rxpk\":","vt":"str"},{"t":"cont","v":"{\"txpk\":","vt":"str"},{"t":"cont","v":"{\"stat\":","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":330,"y":160,"wires":[["333c7bd9.7a6cf4","44dfed63.2e4b64"],["44dfed63.2e4b64","be82e579.7a6f48"],["44dfed63.2e4b64"],[]]},{"id":"333c7bd9.7a6cf4","type":"function","z":"c5b90c0c.d660e","name":"get rxpk json","func":"var from_idx = msg.payload.indexOf(\"rxpk\") - 2;\nvar to_idx = msg.payload.indexOf(\"}]}\") + 3;\nvar jsonstr = msg.payload.substring(from_idx, to_idx);\nvar newmsg = {payload: jsonstr};\nreturn newmsg;","outputs":"1","noerr":0,"x":530,"y":140,"wires":[["bd58a425.8a5258"]]},{"id":"44dfed63.2e4b64","type":"trigger","z":"c5b90c0c.d660e","op1":"","op2":"Timeout on gateway","op1type":"nul","op2type":"str","duration":"65","extend":true,"units":"s","reset":"","name":"Watchdog timer","x":540,"y":300,"wires":[["6ff83cf9.d4b224"]]},{"id":"6ff83cf9.d4b224","type":"e-mail","z":"c5b90c0c.d660e","server":"smtp.gmail.com","port":"465","secure":true,"name":"yourgmail@gmail.com","dname":"Send email","x":750,"y":300,"wires":[]},{"id":"bb00be21.3dba1","type":"switch","z":"c5b90c0c.d660e","name":"check ttn messages","property":"payload.netid","propertyType":"msg","rules":[{"t":"eq","v":"19","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":1320,"y":220,"wires":[["1dee1b77.ad84b5"],[]]},{"id":"be82e579.7a6f48","type":"function","z":"c5b90c0c.d660e","name":"get txpk json","func":"var from_idx = msg.payload.indexOf(\"txpk\") - 2;\nvar to_idx = msg.payload.indexOf(\"}}\") + 2;\nvar jsonstr = msg.payload.substring(from_idx, to_idx);\nvar newmsg = {payload: jsonstr};\nreturn newmsg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["674425a.1355fdc"]]},{"id":"674425a.1355fdc","type":"json","z":"c5b90c0c.d660e","name":"to js obj","pretty":false,"x":680,"y":220,"wires":[["a5f1a86a.09df28"]]},{"id":"bb7a0d25.5323d","type":"csv","z":"c5b90c0c.d660e","name":"To CSV","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\r\\n","temp":"imme,tmst,time,freq,rfch,powe,modu,datr,codr,ipol,size,ncrc","x":1260,"y":320,"wires":[["33a12775.e21f18"]]},{"id":"33a12775.e21f18","type":"file","z":"c5b90c0c.d660e","name":"Write to ttngatewayTX.csv","filename":"/home/pi/ttngatewayTX.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1470,"y":320,"wires":[]},{"id":"a5f1a86a.09df28","type":"function","z":"c5b90c0c.d660e","name":"get txpk","func":"var newMsg = {payload: msg.payload.txpk};\nObject.assign(newMsg, {time: new Date().toISOString().time});\nreturn newMsg;","outputs":1,"noerr":0,"x":1000,"y":220,"wires":[["bb7a0d25.5323d"]]},{"id":"e3f92b3c.130848","type":"function","z":"c5b90c0c.d660e","name":"Generate message","func":"var msgstr = 'ID:' +\n             msg.payload.device.toString(16).toUpperCase() + ' ' +\n             msg.payload.freq.toString() + 'MHz ' +\n             msg.payload.datr + ' Count:' +\n             msg.payload.count.toString() + ' ' +\n             msg.payload.rssi.toString() + 'dB ' +\n             msg.payload.lsnr.toString() + 'dB ' +\n             msg.payload.size.toString() + ' bytes';\nvar newMsg = { payload: msgstr };\nreturn newMsg;","outputs":1,"noerr":0,"x":1750,"y":220,"wires":[["8bfb7384.210c7"]]},{"id":"21bfd75a.685578","type":"debug","z":"c5b90c0c.d660e","name":"","active":false,"console":"false","complete":"false","x":1310,"y":80,"wires":[]},{"id":"29fe910f.32340e","type":"http request","z":"c5b90c0c.d660e","name":"Send to Domoticz","method":"GET","ret":"txt","url":"http://192.168.1.2:8080/json.htm?type=command&param=udevice&idx=72&svalue=1","tls":"","x":1510,"y":140,"wires":[["c1fb457b.d5e618"]]},{"id":"c1fb457b.d5e618","type":"debug","z":"c5b90c0c.d660e","name":"","active":false,"console":"false","complete":"payload","x":1710,"y":140,"wires":[]},{"id":"8bfb7384.210c7","type":"http request","z":"c5b90c0c.d660e","name":"Update Domoticz text","method":"GET","ret":"txt","url":"http://192.168.1.2:8080/json.htm?type=command&param=udevice&idx=73&nvalue=0&svalue={{{payload}}}","tls":"","x":1980,"y":220,"wires":[["f1ae556e.cea678"]]},{"id":"f1ae556e.cea678","type":"debug","z":"c5b90c0c.d660e","name":"","active":false,"console":"false","complete":"payload","x":2110,"y":140,"wires":[]},{"id":"129cbff9.c091c","type":"inject","z":"c5b90c0c.d660e","name":"daily init dev_seen","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"x":1050,"y":400,"wires":[["fcee8b43.105378"]]},{"id":"fcee8b43.105378","type":"function","z":"c5b90c0c.d660e","name":"Reset unique devices list","func":"flow.set(\"dev_seen\", []);","outputs":"0","noerr":0,"x":1310,"y":400,"wires":[]},{"id":"d74e71dc.87493","type":"function","z":"c5b90c0c.d660e","name":"Count unique dev's","func":"var dev_seen = flow.get(\"dev_seen\");\nif (dev_seen.indexOf(msg.payload.device) == -1){\n    dev_seen.push(msg.payload.device);\n    flow.set(\"dev_seen\", dev_seen);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1290,"y":180,"wires":[["e1f980b8.78ce9"]]},{"id":"1dee1b77.ad84b5","type":"function","z":"c5b90c0c.d660e","name":"Report TTN dev's","func":"var d = new Date();\nvar now = d.getTime(); //ms since 1/1/70\nvar deadtime = 7200000; //2 hours in ms\n\n//purge items older than deadtime\nvar ttn_seen = flow.get(\"ttn_seen\");\nvar new_ttn_seen = [];\nvar index;\nfor (index = 0; index < ttn_seen.length; ++index) {\n    if (now - ttn_seen[index].time < deadtime){\n        new_ttn_seen.push(ttn_seen[index]);\n    }\n}\n\n// check if device already appears in pruned list\nvar new_device = true;\nfor (index = 0; index < new_ttn_seen.length; ++index) {\n    if (new_ttn_seen[index].device === msg.payload.device){\n        new_device = false;\n    }\n}\n\n// if not, add it and report the new one\nif (new_device === true) {\n    new_ttn_seen.push({\"device\":msg.payload.device,\n                       \"time\": now});\n    flow.set(\"ttn_seen\", new_ttn_seen);\n    return msg;\n}\n\nflow.set(\"ttn_seen\", new_ttn_seen);\n","outputs":1,"noerr":0,"x":1550,"y":220,"wires":[["e3f92b3c.130848"]]},{"id":"e1f980b8.78ce9","type":"http request","z":"c5b90c0c.d660e","name":"Send to Domoticz","method":"GET","ret":"txt","url":"http://192.168.1.2:8080/json.htm?type=command&param=udevice&idx=75&svalue=1","tls":"","x":1510,"y":180,"wires":[["73a5f811.6ef728"]]},{"id":"73a5f811.6ef728","type":"debug","z":"c5b90c0c.d660e","name":"","active":false,"console":"false","complete":"payload","x":1710,"y":180,"wires":[]},{"id":"6c9888c0.cb08f8","type":"inject","z":"c5b90c0c.d660e","name":"Init ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":1010,"y":360,"wires":[["fcee8b43.105378","36066712.a7fd48"]]},{"id":"36066712.a7fd48","type":"function","z":"c5b90c0c.d660e","name":"Init ttn_seen","func":"flow.set(\"ttn_seen\", []);","outputs":"0","noerr":0,"x":1270,"y":360,"wires":[]}]